@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@tailwind base;
@tailwind components;
*{@apply font-oswald;}
body{@apply bg-[#0A0909];}
.warrper{@apply w-full max-w-[1440px] mx-auto px-5;}
.h1,h1{@apply text-34 md:text-38 lg:text-48 xl:text-52 2xl:text-68 font-bold text-white uppercase;}
.h2,h2{@apply text-24 md:text-28 lg:text-34 xl:text-40 2xl:text-48 font-semibold text-white uppercase;}
.h3,h3{@apply text-20 lg:text-24 xl:text-30 2xl:text-36 font-bold uppercase text-white;}
.h4,h4{@apply text-16 md:text-18 lg:text-20 2xl:text-24 font-semibold text-white uppercase;}
.h5,h5{@apply text-14 lg:text-16 2xl:text-18 text-white uppercase;}
.text16{@apply text-12 md:text-14 2xl:text-16;}
.anim{@apply duration-300 transition-all;}
.btn_primary{@apply py-2.5 lg:py-3 px-3 md:px-4 lg:px-5 xl:px-7 whitespace-nowrap bg-secondary text-white text-12 sm:text-14 font-semibold uppercase hover:text-black hover:bg-white anim;}
.btn_secondary{@apply py-2.5 lg:py-3 px-3 md:px-4 lg:px-5 xl:px-7 whitespace-nowrap bg-white text-dark text-12 sm:text-14 font-semibold uppercase hover:text-white hover:bg-secondary anim;}
/* #open.active{@apply translate-x-0;} */
#select_inpu.active, #select_inpu2.active,#select_gender.active{@apply visible opacity-100 translate-y-2;}
.checkbox{@apply w-5 h-5 rounded border border-white flex items-center justify-center;}
.radio{@apply w-5 h-5 rounded-full border-2 border-white flex items-center justify-center;}
input:checked + .checkbox, input:checked + .radio{@apply border-secondary bg-secondary;}
input:checked + .checkbox span, input:checked + .radio span{@apply opacity-100;}
.gra_black{
  background: linear-gradient(180deg, #302F2F 0%, rgba(255, 255, 255, 0) 100%);
}
.gra_red{
  background: linear-gradient(180deg, rgba(215, 32, 40, 0) -20.18%, #D72028 100%);
}
.g_gra_top{@apply bg-gradient-to-b from-primary to-primary/0;}
.g_gra_bottom{@apply bg-gradient-to-b from-primary/0 to-primary;}
.marquee{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  
    span{
      text-transform: uppercase;
      will-change: transform;
      transform: translateX(0);
      white-space: nowrap;
      animation: marquee 10s linear infinite;
      color:#141414;
    }
  }
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  
  .mySwiper .swiper-wrapper .swiper-slide{@apply opacity-50;}
  .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-active .swiper_content{@apply scale-100;}
  .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-active {@apply scale-100 md:scale-[1.14] opacity-100;}
  .fq_bg{@apply absolute w-full h-0 inset-0 rounded-lg bg-gradient-to-t from-white/30 -z-10;}
  .title_tab.active{@apply border-transparent;}
  .title_tab.active span.close {
    display: block;
  }
  .title_tab.active span.open {
      display: none;
  }
  /* .tab_main.active{@apply border-b-0 border-transparent;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  } */
  .title_tab.active + .inner_content + .fq_bg{@apply h-full;}

  .tossing {
    animation-name: tossing;
    -webkit-animation-name: tossing;
    animation-duration: 4.5s;
    -webkit-animation-duration: 4.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  
  /* @keyframes tossing {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  } */
  
  @keyframes tossing {
    0%, 100%{
      transform: none;
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
  
    50%{
      transform: translateY(-80px) rotate(-360deg) translateX(-60px)scale(0);
      animation-timing-function: cubic-bezier(0,0,0.1,1);
    }
    100%{
      transform: none;
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
  }

  
  .hithere {
    animation: hithere 1s infinite;
    transform: scale(0.2);
  }
  @keyframes hithere {
    30% {  }
    40%, 60% { transform: rotate(-10deg) ; }
    50% { transform: rotate(10deg) ; }
    70% { transform: rotate(10deg) ; }
    100% {  }
  }
 
@tailwind utilities;